<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
 
  <connectionStrings>
    <add name="OnlineInvoiceBillingSystem1ConnectionString" 
    connectionString="Data Source=USER-PC;Initial Catalog=OnlineInvoiceBillingSystem1;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
      <compilation targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    <pages enableEventValidation="false"></pages>
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true" />
  </system.webServer>
  
  
</configuration>
